{% extends 'base.html.twig' %}

{% block title %}Ecrire une note de correspondance{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="container">

            <h2>Ecrire une note de correspondance</h2>

            {{ form_start(form) }}

            {% for error in errors %}
                <div class="alert alert-danger">{{ error.messageTemplate }}</div>
            {% endfor %}

            {{ form_row(form.children) }}

            {{ form_row(form.text) }}

            <div class="text-center mt-5">
                <button class="btn btn-lg btn-primary px-5" type="submit">
                    Envoyer
                </button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
