{% extends 'base.html.twig' %}

{% block title %}Espace enfant{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

   <div class="container-fluid mt-5">
        <div class="container">
            <h2>Espace enfant</h2>
            <div class="tab-frame">
                {% set index = 1 %}
                {% for child in children %}
                    <input type="radio" checked name="tab" id="tab{{ index }}">
                    <label for="tab{{ index }}">{{ child.firstName }}</label>
                    {% set index = index + 1 %}
                {% endfor %}

                {% for child in children %}
                    <div class="tab">
                        <div class="row">
                            <div class="col-6">
                                <p>Prénom : {{ child.firstName }}</p>
                                <p>Nom : {{ child.name }}</p>
                                <p>Date de Naissance : {{ child.birthdate|date("d/m/Y") }}</p>
                            </div>
                        </div>
                        {% if child.classPhotos is not empty %}
                            <div class="row">
                                <h4 class="col-12">Souvenirs</h4>

                                {% for photo in child.classPhotos %}

                                    <div class="col-8 mx-auto">
                                        <p class="mt-4">{{ photo.classLibelle ~ ' (' ~ photo.year ~ ')' }}</p>

                                        <img class="w-100" src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.altImage }}">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}
