{% extends 'base.html.twig' %}

{% block title %}default index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="css/default.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container-fluid image-accueil">
        <div class="container">
            <img src="images/ecole.png" alt="">
        </div>
    </div>

    <div class="container-fluid actu">
        <div class="container">
            <h2>Actualités de l'école</h2>
        </div>
    </div>
    {% for news in news %}
        <div class="container-fluid main">
        <div class="container">
            <div class="news">
                <h3>{{ news.title }}</h3>
                <div class="row">
                    <div class="col-4">
                        <img src="images/clusaz.jpg" alt="la clusaz" class="img-news">
                    </div>
                    <div class="col">
                        <p>{{ news.text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}


    <div class="container-fluid info">
        <div class="container">
            <h2>Informations</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="infos">
                <p>{{ school.name }}</p>
                <p>Adresse : {{ school.address }}</p>
                <p>Telephone : {{ school.phone }}</p>
                <p>Email : {{ school.email }}</p>
                <p>Horaire : {{ school.timetable }}</p>
            </div>
        </div>
    </div>



{% endblock %}
