{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="css/default.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container-fluid image-accueil">
        <div class="container">
            <img src="{{ vich_uploader_asset(school, 'schoolImageFile') }}" alt="{{ school.altSchoolImage }}" class="logo">
        </div>
    </div>

    {% if news %}
        <div class="container-fluid actu">
            <div class="container">
                <h2>Actualités de l'école</h2>
            </div>
        </div>
        {% for single in news %}
            <div class="container-fluid main">
                <div class="container">
                    <div class="news">
                        <h3>{{ single.title }}</h3>
                        <div class="row">
                            {% if single.codeYoutube %}
                                <div class="col-6">
                                    <div class="video-responsive w-100">
                                        <iframe width="100%" src="https://www.youtube.com/embed/{{ single.codeYoutube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            {% elseif single.image %}
                                <div class="col-5">
                                    <img src="{{ vich_uploader_asset(single, 'imageFile') }}" alt="{{ single.altImage }}" class="img-news">
                                </div>
                            {% endif %}
                            <div class="col">
                                <p>{{ single.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid info">
        <div class="container">
            <h2>Informations</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="infos">
                <p>{{ school.name }}</p>
                <p>Adresse : {{ school.address }}</p>
                <p>Telephone : {{ school.phone }}</p>
                <p>Email : {{ school.email }}</p>
                <p>Horaire d'ouverture: {{ school.timetable|raw }}</p>
            </div>
        </div>
    </div>

{% endblock %}
