{% extends 'base.html.twig' %}

{% block title %}Inscrire mon enfant{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="css/inscription.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container-fluid info">
        <div class="container">

            <h2 class="mb-3 font-weight-normal">Inscrire mon enfant</h2>

            {{ form_start(form) }}

            {% for error in errors %}
                <div class="alert alert-danger">{{ error.messageTemplate }}</div>
            {% endfor %}

            {{ form_row(form.firstName) }}

            {{ form_row(form.name) }}

            {{ form_row(form.birthdate) }}

            {{ form_row(form.schoolClass) }}

            <div class="text-center mt-5">
                <button class="btn btn-lg btn-primary px-5" type="submit">
                    Inscrire
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
