<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="css/header.css" rel="stylesheet"/>
            <link href="css/menu.css" rel="stylesheet"/>
            <link href="css/normalize.css" rel="stylesheet"/>
            <link href="css/colors.css" rel="stylesheet"/>
            <link href="css/bootstrap.min.css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid header">
        <div class="container">
            <div class="row">
                <div class="col-2"><a href="{{ path("default_index") }}"><img src="images/logo-ecole.jpg" alt="logo de l'école" class="logo"></a>
                </div>
                <div class="col-8"><h1>Le nom de l'école</h1></div>

                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="col-2 connexion">
                        <img src="images/user.png" alt="logo de l'école" class="icon">
                        <p>{{ app.user }}</p>
                        <p>se déconnecter</p>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="col-2 connexion">
                        <img src="images/user.png" alt="logo de l'école" class="icon">
                        <p>Se connecter</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid menu">
        <div class="container">
            <div class="row">
                <a href="" class="col">Cahier de correspondance</a>
                <a href="" class="col">Messages aux enseignants</a>
                <a href="{{ path('default_enfant') }}" class="col">Espace enfants</a>
                <a href="{{ path('default_infos') }}" class="col">Infos école</a>
                <a href="" class="col">Inscrire mon enfant</a>
            </div>
        </div>
    </div>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}{% endblock %}
</html>
